@using System.Globalization
@using MovieFeeler.Common
@model MovieFeeler.Web.Models.TvDetailViewModel
@{
    ViewBag.Title = @Model.GetTvDetails.name;
}
<header>
    <script type="application/javascript">
        window.fbAsyncInit = function () {
            // init the FB JS SDK
            FB.init({
                appId: '564895147041335',
                status: true,
                xfbml: true
            });

        };

        // Load the SDK asynchronously
        (function (d, s, id) {
            var js, fjs = d.getElementsByTagName(s)[0];
            if (d.getElementById(id)) { return; }
            js = d.createElement(s); js.id = id;
            js.src = "//connect.facebook.net/en_US/all.js";
            fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));


        function FBShareOp() {
            var product_name = 'Feel movies : '+'@Model.GetTvDetails.name';
            var description = '@Model.GetTvDetails.overview';
            var share_image = ""; 
            if ('@Model.GetTvDetails.backdrop_path.IndexOf("Images")' > 0) {
            share_image = 'http://cars.ameotech.com' + '@Model.GetTvDetails.backdrop_path';
            @*share_image = 'http://localhost:55124' + '@Model.MovieDTO.backdrop_path';*@
        }
        else {
                share_image = '@Model.GetTvDetails.backdrop_path';
        }
        var share_url = '@string.Format("http://cars.ameotech.com/tv/detail/{0}", @Model.GetTvDetails.id)';
        var share_capt = 'cars.ameotech.com';
        FB.ui({
            method: 'feed',
            name: product_name,
            link: share_url,
            picture: share_image,
            caption: share_capt,
            description: description

        }, function (response) {
            if (response && response.post_id) { }
            else { }
        });
    }

</script>
</header>
<script type="text/javascript">
    /* * * CONFIGURATION VARIABLES: EDIT BEFORE PASTING INTO YOUR WEBPAGE * * */
    var disqus_shortname = '@ConfigSettings.GetDisqusShortname()'; // required: replace example with your forum shortname
    var disqus_identifier = 'tv/detail/@Model.GetTvDetails.id';
    var disqus_url = 'tv/detail/@Model.GetTvDetails.id';
    var disqus_developer = 1;
</script>
<div class="single-page-agile-main">
    <div class="container">
        <!-- /w3l-medile-movies-grids -->
        <div class="agileits-single-top">
            <ol class="breadcrumb">
                <li class="Home"><a href="/">Home</a></li>
                <li class="active">@Html.ActionLink("TV", "Index", "TV")</li>
                <li class="active">@Model.GetTvDetails.name</li>
            </ol>
        </div>
        <div class="single-page-agile-info">
            <!-- /movie-browse-agile -->
            <div class="show-top-grids-w3lagile">
                <div class="col-sm-8 single-left">
                    <div class="song">
                        <div class="song-info">
                            <h3>@Model.GetTvDetails.name</h3>
                        </div>
                        <div class="video-grid-single-page-agileits">
                            <div data-video="dLmKio67pVQ" id="video">
                                <img src="@Model.GetTvDetails.backdrop_path" alt="" class="img-responsive" />
                                <a class="w3_play_icon simple-ajax-popup-align-top" href="/trailor/tvtrailer?id=@Model.GetTvDetails.id">
                                    <span class="glyphicon glyphicon-play-circle" aria-hidden="true"></span>
                                </a>
                            </div>
                        </div>
                        <div class="video-grid-single-page-agileits">
                            <p>
                                @Model.GetTvDetails.overview
                            </p>
                        </div>
                    </div>
                    <div class="song-grid-right">
                        <div class="share" style="padding-left: 0px;">
                            <h5>Share this</h5>
                            <div class="single-agile-shar-buttons">
                                <ul>
                                    @*<li>
                                        <div class="fb-like" data-href='@string.Format("http://cars.ameotech.com/tv/detail/{0}", @Model.GetTvDetails.id)' data-layout="button_count" data-action="like" data-size="small" data-show-faces="false" data-share="true"></div>
                                    </li>*@
                                    <li>
                                        @*<div class="fb-share-button" data-href='@string.Format("http://cars.ameotech.com/tv/detail/{0}", @Model.GetTvDetails.id)' data-layout="button_count" data-size="small" data-mobile-iframe="true"><a class="fb-xfbml-parse-ignore" target="_blank" href='@string.Format("https://www.facebook.com/sharer/sharer.php?u=http%3A%2F%2Fcars.ameotech.com%2Ftv%2Fdetail%2F{0}&amp;src=sdkpreparse", @Model.GetTvDetails.id)'>Share</a></div>*@
                                        @*http://johndyer.name/getting-counts-for-twitter-links-facebook-likesshares-and-google-1-plusones-in-c-or-php/*@
                                        @*http://stackoverflow.com/questions/22065179/facebook-sharer-title-and-summary-customization*@
                                        @*http://www.hyperarts.com/blog/tutorial-how-to-add-facebook-share-button-to-your-web-site-pages/*@
                                        @*https://gist.github.com/tvanantwerp/6708c0bf818637bf2a50*@
                                        <a class="social-link facebook" onclick="FBShareOp();" id="fb-share" rel="nofollow" target="_blank" title="Share on Facebook"><i class="fa fa-facebook"></i> Share</a>
                                    </li>
                                    @*<li class="news-twitter">
                                        <a href="https://twitter.com/w3layouts" class="twitter-follow-button" data-show-count="false">Follow </a>
                                        <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
                                    </li>*@
                                    <li>
                                        <a href="https://twitter.com/share" class="twitter-share-button" data-url='@string.Format("http://cars.ameotech.com/tv/detail/{0}", @Model.GetTvDetails.id)' data-text="" data-via="" data-count="vertical">Tweet</a>
                                        <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
                                    </li>
                                    <li>
                                        <!-- Place this tag where you want the +1 button to render. -->
                                        <div class="g-plusone" data-size="medium"></div>

                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                    <br />
                    <input type="hidden" id="rootUrl" value="@string.Format("{0}://{1}{2}", Request.Url.Scheme, Request.Url.Authority, Url.Content("~"))"/>
                    <div id="disqus_thread"></div>
                </div>
                <div class="col-md-4 single-right">
                    <h3>Up Next</h3>
                    <div class="single-grid-right">
                        @foreach (var airingTv in Model.GetAiringToday.results.Take(10))
                        {                            
                            <div class="single-right-grids">
                                <div class="col-md-4 single-right-grid-left">
                                    <a  href="/tv/detail/@airingTv.id">
                                        <img src="@airingTv.backdrop_path" alt="" /></a>
                                </div>
                                <div class="col-md-8 single-right-grid-right">
                                    <a href="/tv/detail/@airingTv.id" class="title">@airingTv.name</a>

                                    <p class="views">@airingTv.popularity</p>
                                </div>
                                <div class="clearfix"></div>
                            </div>                                                   
                        }
                    </div>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
</div>
<div style="clear: both"></div>
<script>
    $(document).ready(function () {
        $(".navbar-nav").find("li").removeClass('active');
        $('.tvlink').addClass('active');
        initializeDisqus();

        $('#btnNext').click(function () {
            var disqusId = 'another-page';
            reset(disqusId);
        });

        $('#btnPrevious').click(function () {
            var disqusId = 'yet-another-page';
            reset(disqusId);
        });

        $('#btnInit').click(function () {
            var disqusId = 'hello-world';
            reset(disqusId);
        });

        $("input[name = '__CONFIRM__']").click(function () {
            FbShareCount();
        });

        //http://donreach.com/social-share-count
        $.getJSON('https://count.donreach.com/?url=http://cars.ameotech.com/tv/detail/@Model.GetTvDetails.id' + "&callback=?", function (data) {
            shares = data.shares;
            //alert(shares["facebook"]);
            $("#fb-share").append("").append(" (" + shares["facebook"] + ")");
        });
    })

    
    function initializeDisqus() {
        var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
        dsq.src = 'http://' + disqus_shortname + '.disqus.com/embed.js';

        dsq.onload = function () {
            var disqusId = 'hello-world';
            reset(disqusId);
        };

        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
    }

    function reset(disqusId) {
        DISQUS.reset({
            reload: true,
            config: function () {
                this.page.identifier = disqus_identifier;
                this.page.url = $('#rootUrl').val() + disqus_identifier;
            }
        });
    }
</script>
